@import "../../node_modules/normalize.css/normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #bebebe;
}

.bg-images {
    min-height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
